*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-size: 10px;
  background-color: #333;
}

.body_container {
  background-color: #666;
  user-select: none;
  width: 80%;
  margin: 5rem auto;
}

.header_container {
  color: #fff;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1.5em;
  background-color: rgb(69, 72, 69);
}

h1 {
  font-size: 7em;
  letter-spacing: .3em;
}

.headder_container_nav {
  display: flex;
  justify-content: space-evenly;
  gap: 2em;
  font-size: 1.5em;
  font-weight: 500;
}

a {
  color: #fff;
  text-decoration: none;
}

a:hover {
  opacity: .6;
}

.image_container {
  margin: 0 auto;
}

img {
  width: 100%;
}

.main_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8em;
  height: 100%;
  margin: 0 auto;
  padding: 0 .8em;

  font-size: 1.8em;
}

.main_poetry_section {
  color: #999;
  border: 1px solid #333;
  width: 60%;
  padding: 3em;
  line-height: 1.2em;
}

.poetry_container {
  color: #bbb;
}

h2 {
  font-size: 2.5em;
  color: #bbb;
  margin: 0;
}

.author_infos_container {
  font-style: italic;
  font-size: .8em;
}

.adds_container {
  height: 100%;
  width: 35%;
  display: flex;
  flex-direction: column;
  gap: 3em;
}

.adds_container>div {
  padding: 1em;
  border: 1px solid #ddd;
}

hr {
  width: 15em;
  border: 1px solid #777;
  float: left;
}
